

.mid-images {
    max-width: 150px;
    max-height: 150px;
    border: #3882f6 solid 8px;
    margin-top: 30px;
    
}
.end-section {
   display: flex;
   background-color: #E5E7EB;
   justify-content: center; 
   color: #1F2937;
   font-size: 36px;
   padding: 40px;
   margin-top: 20px;
}

.mid-text {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-left: 70px;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    padding: 10px;
}

h2 { 
    display: flex;
    justify-content: space-evenly;
}

h3 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

h4 {
    text-align: center;
}



.profit {
    position: relative;
    right: 125px;
}

.drs {
    margin-left: 120px;
    position: relative;
    right: 80px;
}

.hold {
    position: relative;
    left: 60px;
}

.buy {
    margin-right: 80px;
    position: relative;
    left: 80px;
}

.quote-credit {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding-bottom: 3em;
}

.footer {
    padding: 4em;
    background-color: #3882f6 ;
    border: 1px;
  
    text-align: center;
    color: white;
    font-size: 24px;
}

.call-action {
    justify-self: center;
    padding: 20px;
}

.ook-ook {
    width: 30vw;
    height:80px;

    color: black;
    margin-left: 20vw;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ending-footer {
    display: flex;
    background-color: #1F2937;
    padding: 100px;
    color: white;
    justify-content: center;
}


/* LANDING PAGE TOP STYLES */

.top-section {
    display: flex;
    background-color: #1F2937;
    flex-wrap: wrap;
    padding: 1.5em;

}

.mid-section {
    display: flex;
    background-color:white;
    justify-content: space-evenly;
    gap: 10px;
}

.header {
   display: flex;
   flex-direction: row;
   width: 100%;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 2em;
}
.header a {
    color: #b2efe8;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  
}

.header-right {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 140px;
    width: 12vw;
}

.bottom-header {
    padding: 0 0;  
    text-align: center;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.gamestonk-logo {
   height: 140px;
}

.gamestonk-share {
    margin-left: 300px;
    flex-shrink: 0;
    max-height: 300px
}

.textnpic {
    display: flex;
    font-size: 28px;
    color: #F9FAF8;
}

.awesome {
    display: flex;
    font-size: 68px;
    color: red;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
    justify-self: center;
}

.sign-up {
    display: none;
}

*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

p{
    text-align: left;
    font-size: 19px;
}

h5 {
    text-align: center;
} 

.cta{
    text-align: center;
    font-size: xx-large;
    margin-top: 1em;
    margin-bottom: 1em;
}

.secondary-header{
    margin-top: 2em;
    margin-bottom: 2em;
}